<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <a class="navbar-brand link" href="{{pathFor 'home'}}">{{Config.name}}</a>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/applynow">Apply</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>