<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <a class="navbar-brand link" href="{{pathFor 'home'}}">{{Config.name}}</a>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/tickets">Tickets</a></li>
                        <li><a href="/speakers">Speakers</a></li>
                        <li><a href="/schedule">Schedule</a></li>
                        <li><a href="/applynow">Apply</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section id="intro" class="colored text-center">
      <div class="container">
        <div class="intro-well wow animated pulse">
          <div class="row">
            <div class="openingceremony col-lg-12 col-sm-12">
                <h1>{{Config.title}}</h1>
                <div class="col-lg-12 col-sm-12">
                  <h3>{{_ "where"}}  |  {{_ "when"}}</h3> 
                </div>
            </div>
             <div class="col-lg-12 col-sm-12">
                <div class="iconbox">
                  <a href="#program"><i class='fa fa-chevron-down fa-3x'></i></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
    </section>
    <section id="program" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="row col-md-12">
                <h3>{{_ "program"}}</h3>
                <h4>{{_ "program_highlights"}}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="iconbox">
                      <i class="fa fa-plane fa-3x"></i>
                    </div>
                    <h2 class="icntitle">{{_ "first_base"}}</h2>
                    <p class="icnp">{{_ "first_base_text"}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                    <div class="iconbox">
                      <i class="fa fa-bolt fa-3x"></i>
                    </div>
                    <h2 class="icntitle">{{_ "second_base"}}</h2>
                    <p class="icnp">{{_ "second_base_text"}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                    <div class="iconbox">
                      <i class="fa fa-headphones fa-3x"></i>
                    </div>
                    <h2 class="icntitle">{{_ "third_base"}}</h2>
                    <p class="icnp">{{_ "third_base_text"}}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="speakers">
        <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                  <li class="col-md-4 col-md-offset-1 avatar-frame center"><img src='img/assets/speakers_aman_advani.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_andrew_chung.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_cynthia_breazeal.jpg?changed'></li>
                </div>
            </div>
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_david_malan.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_elaine_chen.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                    <li class="avatar-frame center"><img src='img/assets/speakers_miguel_mckelvey.jpg?changed'></li>
                </div>
            </div>
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <li class="avatar-frame center"><img src='img/assets/speakers_steve_kaufer.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_thuan_pham.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                    <li class="avatar-frame center"><img src='img/assets/speakers_tom_chi.jpg?changed'></li>
                </div>
            </div>
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <li class="avatar-frame center"><img src='img/assets/speakers_tony_hsieh.jpg?changed'></li>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                  <li class="avatar-frame center"><img src='img/assets/speakers_vinit_nijhawan.jpg?changed'></li>
                </div>
            </div>
        </div>
    </section>
    <section id="ipad" class="colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{_ "section_ipad_header"}}</h3>
                    <p>{{_ "section_ipad_text"}}</p>
                    <p class="text-center">
                    <a href="{{Config.about}}" target="_blank" class="btn btn-success">
                    {{_ "section_ipad_btn"}}
                    </a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img id="ipad" src="/img/ipad.png" alt="" class="wow animated fadeInRight" data-wow-delay="1s">
                </div>
            </div>
        </div>
    </section>
    <section id="final">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center wow fadeInDown animated" data-wow-delay="0.8s">
                    <h3>
                    {{_ "final_text"}}
                    </h3>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{pathFor 'atSignUp'}}">{{_ "final_cta"}}</a>
                    </div>
                </div>
                <div class="col-md-8  wow fadeInUp animated">
                    <img src="img/screenshot.png" class="img-responsive wow" data-wow-delay="0.6s" alt="picture">
                </div>
            </div>
        </div>
    </section>
</template>