<template name="about">
	<div class='bounds'>
		<p>Extraordinary Minority Business Leaders, Entrepreneurs, & Mentors (EMBLEM) serves women, minorities, and members of the LGBTQ community in their professional development and careers through connecting them with mentors and professionals in different industries by helping them build their own pathways to success.</p>
		<p>We strive to assist budding entrepreneurs in becoming successful and emphasize mentoring, as it is integral to becoming a successful business leader.</p>
		<p>With its mission to educate this community through conferences, career fairs, workshops, seminars, newsletters, social functions, and other avenues, EMBLEM hopes to open many doors for these people and help them reach their full potential.</p>
		<p>We are hosting the first ever EMBLEM conference in Boston, Friday June 10 and Saturday June 11, 2016 in Marriott Boston Copley Place.</p>
	</div>
</template>