<template name="speakers">
	<ul>
		<li class="avatar-frame"><img src='img/assets/speakers_aman_advani.jpg?changed'></li>
		<li class="avatar-frame"><img class="chung" src='img/assets/speakers_andrew_chung.jpg?changed'></li>
		<li class="avatar-frame"><img class="breazeal" src='img/assets/speakers_cynthia_breazeal.jpg?changed'></li>
		<li class="avatar-frame"><img src='img/assets/speakers_miguel_mckelvey.jpg?changed'></li>
		<li class="avatar-frame"><img class="kaufer" src='img/assets/speakers_steve_kaufer.jpg?changed'></li>
		<li class="avatar-frame"><img class="hsieh" src='img/assets/speakers_tony_hsieh.jpg?changed'></li>
		<li class="avatar-frame"><img class="malan" src='img/assets/speakers_david_malan.jpg?changed'></li>
		<li class="avatar-frame"><img class="chen" src='img/assets/speakers_elaine_chen.jpg?changed'></li>
		<li class="avatar-frame"><img class="nijhawan" src='img/assets/speakers_vinit_nijhawan.jpg?changed'></li>
		<li class="avatar-frame"><img src='img/assets/speakers_tom_chi.jpg?changed'></li>
	</ul>
</template>